MySql Assigment

In [ ]:
Q.1 ans 

   A database is a structured collection of data that is organized and stored in a way that allows efficient ,
    retrieval, management, and manipulation of information.
    Databases are used to store and manage vast amounts of data for various applications and systems.
    They serve as a crucial component in modern software development and information management.
    
    
    
    
    Differentiate between SQL and NoSQL databases:

SQL (Structured Query Language) and NoSQL (Not Only SQL) databases are two main categories of databases,
and they differ in their data models, query languages,

* SQL: SQL databases follow the relational model, where data is organized into tables with predefined schemas. 
Tables have rows (records) and columns (fields) that define the structure of the data.



NoSQL: NoSQL databases have a flexible data model, and they can be categorized into various types,
including document-based, key-value, column-family, and graph databases. 
Each type has its own way of organizing and storing data.

In [ ]:
Q.2 Ans

   DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that deals with defining,
    and managing the structure of a database. DDL commands are used to create, modify,
    and delete database objects like tables, indexes, views, and schemas.
    
    -->CREAT
    
    CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);
    
    -->DROP
    
    DROP TABLE employees;
    
    
    --> ALTER
    
    ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

   -->TRUNCATE 
    
    TRUNCATE TABLE employees;

In [ ]:
Q.3ANS

  DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate,
    data stored in a database. DML commands are responsible for adding, updating, 
    and deleting data within database tables.
    Unlike DDL (Data Definition Language) that deals with the structure of the database, DML focuses on the data itself.
    
    
    --> INSERT
    
    INSERT INTO employees (employee_id, first_name, last_name, hire_date, department)
VALUES (101, 'John', 'Doe', '2023-08-04', 'HR');


   -->UPDATE
    
    UPDATE employees
SET department = 'Marketing'
WHERE employee_id = 101;


  -->DELET
    
    DELETE FROM employees
WHERE employee_id = 101;

In [ ]:
Q.4 ANS

  **DQL (Data Query Language)** is a subset of SQL (Structured Query Language) used to retrieve
    data from a database. DQL commands are primarily concerned with querying and fetching data from database 
    tables without modifying the data or database structure. The most commonly used DQL command is `SELECT`.

  
SELECT employee_id, first_name, last_name, hire_date, department
FROM employees;



SELECT *
FROM employees;

In [ ]:
Q.5 ANS

   Primary Key:
A primary key is a unique identifier for each record (row) in a database table.
It uniquely identifies individual rows and ensures that no two rows can have the same key value. 
Primary keys are essential for maintaining data integrity and enforcing entity integrity, 
as they prevent duplicate or null values in the key column.




     Forigen Key
    
    A foreign key is a column or a set of columns in a table that establishes a link between data in 
    two tables. It creates a relationship between two tables by referring to the primary key of another table.
    The foreign key in one table corresponds to the primary key of another table,
    thus creating a referential relationship.

In [ ]:
Q.6 ANS

  pip install mysql-connector-python
Now, you can write the Python code to connect to MySQL:
python
Copy code
import mysql.connector

# Replace these values with your MySQL server details
db_config = {
    "host": "your_host",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database"
}

# Connect to MySQL
try:
    connection = mysql.connector.connect(**db_config)
    print("Connected to MySQL successfully!")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit()
    
    
    
    
    
    # Create a cursor object
cursor = connection.cursor()


# Execute an SQL query
cursor.execute("SELECT * FROM employees")

# Fetch data from the result set
result = cursor.fetchall()


# Insert data into the table
insert_query = "INSERT INTO employees (first_name, last_name, hire_date) VALUES (%s, %s, %s)"
data = ("John", "Doe", "2023-08-04")
cursor.execute(insert_query, data)

# Commit the changes to the database
connection.commit()

In [ ]:
Q.6 ANS